# For the application (uses the pooler)
DATABASE_URL="postgresql://neondb_owner:password@/neondb?sslmode=require&channel_binding=require"

# For migrations (direct connection)
DIRECT_URL="postgresql://neondb_owner:password@aws.neon.tech/neondb?sslmode=require&channel_binding=require"




AUTH_SECRET=""

# Also ensure these are present for Google OAuth
AUTH_GOOGLE_ID="your_google_client_id"
AUTH_GOOGLE_SECRET="your_google_client_secret"